<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/chat.css">
  <title>chat app</title>
</head>
<body>
  <h1>chat app</h1>
  <hr>
  <ul id="messages">
    {{> messages}}
  </ul>
  <form id="message-form">
    <input type="text" id="message-input">
    <button>send</button>
  </form>
  <div class="container active">
    <div class="initial-data">
      <form id="username-form">
        <label for="username">username <small>(required)</small></label>
        <input type="text" name="username" id="username" required autofocus>
        <br>
        <button type="submit">lets go to chat!</button>
      </form>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>