<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/realtime.css">
</head>
<body>
  <button id="new-product">crear nuevo producto</button>
  <h1>all products / count: <small id="count">{{ count }}</small></h1>
  <div id="products">
    {{> products }}
  </div>
  <div class="popup-container">
    <div class="popup">
      <button id="close">&times;</button>
      <h2>nuevo producto</h2>
      {{> new-product }}
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/realtime.js"></script>
  </script>
</body>
</html>