@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 2rem;
}

label {
  display: block;
  text-decoration: underline;
  font-weight: 900;
  margin-bottom: 8px;
}

label > small {
  background-color: gold;
}

input {
  padding: 8px;
}

button {
  font-family: inherit;
  margin-top: 8px;
}

.initial-data {
  background-color: white;
  padding: 12px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(27, 21, 21, 0.5);
  justify-content: center;
  align-items: center;
}

.container.active {
  display: flex;
}

#message-form {
  position: fixed;
  bottom: 0;
  right: 2rem;
  left: 2rem;
  display: flex;
}

#message-form > button {
  margin: 0.25rem;
}

#message-input {
  flex-grow: 1;
  margin: 0.25rem;
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
      
#messages > li { 
  padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd) {
   background: #efefef; 
}